@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap');

:root{
    --cor-fundo: #e58d05;
    --cor-primario: #ffc200;
    --cor-segundario: #368317;
    --cor-terciaria: #a4e21c;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-fundo);
}

.menu{
    background-color: var(--cor-primario);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_link{
    font-family: 'Tillana', serif;
    font-weight: 700;
    font-style: Bold;
    text-decoration: none;
    background-color: var(--cor-segundario);
    text-align: center;
    color: var(--cor-terciaria);
    font-size: 2rem;
    padding: 15px 10px;
}

.menu_link:hover{
    background-color: var(--cor-terciaria);
    color: var(--cor-segundario);
    transition: 0.5s;
}

.menu_link:active{
    background-color: var(--cor-segundario);
    color: var(--cor-terciaria);
    transition: 0.5s;
}

.logotipo{
    width: 5%;
    height: 5%;
}

#carouselExample {
    width: 20%; /* Faz o carrossel ocupar toda a largura da página */
    margin: 0 auto; /* Remove margens */
}

#carouselExample img {
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço */
    width: 100%; /* Garante que as imagens ocupem toda a largura */
    height: auto; /* Mantém a proporção da altura */
}