@charset"UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap');

:root{
    --cor-fundo: #e58d05;
    --cor-primario: #ffe07aea;
    --cor-segundario: #368317;
    --cor-terciaria: #a4e21c;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.logotipo{
    width: 5%;
    height: 5%;
}